.update_project
  = simple_nested_form_for(@business, html: {multipart: true}) do |f|
    .breadcrumbs_save_close.clearfix
      .row
        .col-sm-8
          .row
            %ol.breadcrumb
              %li
                = link_to 'Home', root_path
              %li.active
                Edit Organization
        .col-sm-4
          .row
            .col-xs-6.form-group-lg
              = f.button :submit, 'Save', class: 'btn btn-success1 btn-lg btn-block'
            .col-xs-6.form-group-lg
              = link_to 'Close', root_path, :class => 'btn btn-default1 btn-lg btn-block'
    .body_header_new
      .row
        .col-md-6.form-group-lg
          = f.input :business_name
        .col-md-6.form-group-lg
          = f.input :license_number
      .row
        .col-sm-12
          = f.input :logo, as: :file
      = render partial: 'address', locals: {f: f}
      %h3 Owner
      %legend
      .well
        .row
          .col-md-4.form-group-lg
            = f.input :last_name
          .col-md-4.form-group-lg
            = f.input :first_name
          .col-md-2.form-group-lg
            = f.input :middle_initial, label: 'MI', maxlength: 1, input_html: { class: 'letters_only'}
      = render partial: 'layouts/phone', locals: {f: f}
      = render partial: 'layouts/contact_person', locals: {f: f}

  
