<%#*<div class="col-md-5 col-md-offset-3">%>
  <%#*<div class="panel panel-default">%>
    <%#*<div class="panel-heading">%>
      <%#*<h2>Log in</h2>%>
    <%#*</div><!-- end of panel-heading -->%>
    <%#*<div class="panel-body">%>
      <%#= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%#*<div class="form-inputs">%>
          <%#= f.input :email, required: false, autofocus: true %>
          <%#= f.input :password, required: false %>
          <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%#*</div>%>

        <%#*<div class="form-actions">%>
          <%#= f.button :submit, "Log in" %>
        <%#*</div>%>
      <%# end %>
    <%#*</div> <!-- end of panel body -->%>
    <%#*<div class="panel-footer">%>
      <%#= render "devise/shared/links" %>
    <%#*</div>%>
  <%#*</div><!-- end of panel panel-default -->%>
<%#*</div>%>

<div class="signin_register_page">
    <div class="logo clearfix"><a href="#"><%= image_tag 'logo.png' %></a></div>
    <div class="signin_register_tab">
        <ul id="myTab" class="nav nav-tabs nav-justified">
            <li class="active"> <a href="#signin" data-toggle="tab">Sign In</a> </li>
            <li><a href="#register" data-toggle="tab">Register</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="signin">
                <div class="paddingtop15">
                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: :signin_account }) do |f| %>
                        <div class="form-group form-group-lg">
                            <%= f.input :email, required: false, label: false, autofocus: true, placeholder: 'Email' %>
                        </div>
                        <div class="form-group form-group-lg">
                            <%= f.input :password, required: false, label: false, placeholder: 'Password' %>
                        </div>
                        <div class="form-group form-group-lg clearfix rememberme_forgotpass">
                            <div class="pull-left checkbox_div">
                                <%#*<label for="rememberme">%>
                                    <%#*<input id="rememberme" type="checkbox">%>
                                    <%#*<span></span> Remember Me%> 
                                <%#*</label>%>
                                <%#= f.input :remember_me, label: false, as: :boolean if devise_mapping.rememberable? %>
                                <% if devise_mapping.rememberable? -%>
                                  <label for="user_remember_me">
                                    <%= f.check_box :remember_me %>
                                    <span></span>
                                    Remember Me
                                  </label>
                                  <% end -%>
                            </div>
                            <div class="pull-right"><%= link_to "Forgot Password?", new_password_path(resource_name) %></div>
                        </div>
                        <div class="form-group form-group-lg paddingtop15">
                            <%= f.button :submit, "Sign In", class: 'btn btn-success btn-block btn-lg' %>
                        </div>
                        <div class="form-group form-group-lg"><%= link_to "Didn’t receive confirmation instructions ?", new_confirmation_path(resource_name) %><br /></div>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade" id="register">
                <div class="paddingtop15">
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>
                    <%#= f.input :type, as: :hidden, input_html: {value: 'Employee'}%>
                    <%#= f.input :need_login, as: :hidden, input_html: {value: '1'}%>
                        <div class="form-group form-group-lg">
                            <%= f.input :business_name, required: true, label: false, placeholder: 'Business Name', autofocus: true, input_html: {id: 'organization_name'} %>
                        </div>
                        <div class="form-group form-group-lg">
                            <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: {id: :admin_email} %>
                        </div>
                        <div class="form-group form-group-lg">
                            <%= f.input :password, required: true, label: false, placeholder: 'Password', input_html: {id: 'password'} %>
                        </div>
                        <div class="form-group form-group-lg">
                            <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm password', input_html: {id: 'password_confirmation'} %>
                        </div>
                        <div class="form-group paddingtop15 form-group-lg">
                            <%= f.button :submit, "Register Now", class: 'btn btn-success btn-block btn-lg' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="powered_by clearfix"><a href="#"><%= image_tag 'powered_by.png' %></a></div>
</div>