.body_header_new
  .row
    .col-sm-4.col-md-4.form-group-lg
      = f.input :business_name
    .col-md-4.form-group-lg
      = f.input :start_date, wrapper: :date_field, as: :date_field, input_html: {class: 'start_date'}
    .col-md-4.form-group-lg
      = f.input :end_date, wrapper: :date_field, as: :date_field, input_html: {class: 'end_date'}
  .row
    .col-md-4.form-group-lg
      = f.input :last_name
    .col-md-4.form-group-lg
      = f.input :first_name
    .col-md-2.form-group-lg
      = f.input :middle_initial, label: 'MI', maxlength: 1, input_html: { class: 'letters_only'}
  .row
    .col-sm-4.form-group-lg
      =f.input :business_account_number
    .col-sm-4.form-group-lg
      =f.input :end_reason_item_code, collection: supplier_end_reason_items, include_blank: 'Select End Reason', label: 'End Reason', input_html: {class: 'selectpicker'}
    .col-sm-4.form-group-lg
      =f.input :status_item_code, collection: supplier_status_items, include_blank: 'Select Status', label: 'Status', input_html: {class: 'selectpicker'}
  .row
    .col-md-12.form-group-lg
      = f.input :end_reason_notes
  .row
  = render partial: 'layouts/contact_person', locals: {f: f}
  = render partial: 'layouts/address', locals: {f: f}
  = render partial: 'layouts/phone', locals: {f: f}
