!!! 5
%html{ :ng => { :app => 'projbuilderApp', :controller => 'MainCtrl' } }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title FenceDev application
    %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}
    %script{"data-require" => "jquery@1.10.1", "data-semver" => "1.10.1", :src => "https://code.jquery.com/jquery-1.10.1.min.js"}
    %script{"data-require" => "datatables@1.10.1", "data-semver" => "1.10.1", :src => "https://cdn.datatables.net/1.10.1/js/jquery.dataTables.js"}
    %script{"data-require" => "angular.js@1.3.16", "data-semver" => "1.3.16", :src => "https://code.angularjs.org/1.3.16/angular.js"}
    %script{"data-require" => "angular-datatables@0.4.2", "data-semver" => "0.4.2", :src => "https://rawgithub.com/l-lin/angular-datatables/v0.4.3/dist/angular-datatables.min.js"}
    %script{"data-require" => "angular-animate@*", "data-semver" => "1.4.2", :src => "https://code.angularjs.org/1.4.2/angular-animate.js"}
    %script{"data-require" => "angular-resource@*", "data-semver" => "1.4.2", :src => "https://code.angularjs.org/1.4.2/angular-resource.js"}
    %script{"data-require" => "angular-route@*", "data-semver" => "1.4.2", :src => "https://code.angularjs.org/1.4.2/angular-route.js"}
    %script{"data-require" => "angular-sanitize@*", "data-semver" => "1.4.2", :src => "https://code.angularjs.org/1.4.2/angular-sanitize.js"}
    %script{"data-require" => "angular-touch@*", "data-semver" => "1.4.2", :src => "https://code.angularjs.org/1.4.2/angular-touch.js"}


    = stylesheet_link_tag 'application', media: 'all'
    :javascript
      calendar_path = "#{asset_path('calendar.gif')}"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{:style => ""}
    = render 'layouts/confirmation_dialog'
    = render 'layouts/navbar'
    #wrapper
      #sidebar-wrapper
        = render 'layouts/sidebar'
      #page-content-wrapper
        = render 'layouts/flash_messages'
        = yield
    

    :javascript
      complete_name_required = "#{I18n.t('errors.customer.complete_name_required')}"
      either_of_name_required = "#{I18n.t('errors.customer.either_of_name_required')}"
      two_decimal_allowed = "#{I18n.t('errors.generic.two_decimal_allowed')}"
      no_decimal_allowed = "#{I18n.t('errors.generic.no_decimal_allowed')}"
      invalid_zip = "#{I18n.t('errors.generic.invalid_zip')}"
      invalid_phone_number = "#{I18n.t('errors.generic.invalid_phone_number')}"
      invalid_phone_ext = "#{I18n.t('errors.generic.invalid_phone_ext')}"
      password_do_not_match = "#{I18n.t('errors.user.password_do_not_match')}"
